body, select {
	font-size: 16pt;
}

body, text {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}

text {
	font-size: 11pt;
}

circle, rect {
	stroke: #000;
	stroke-width: 2px;
}

circle:hover {
	r: 9;
}

g.xAxis g.tick text {
	transform: rotate(-45deg) translate(-60px, 0px);
}

#header {
	width: 100%;
	text-align: center;
}

#hud {
	flex: 0 0 15%;
	border: 2px solid black;
	padding: 10px;
}

input, label, select {
	width: 100%;
}

#information div {
	border-bottom: 1px solid black;
	padding: 10px 5px 10px 5px;
}

#master-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: flex-start;
	width: 100%;
	margin-top: 20px;
}

.states {
	fill: #ccc;
	stroke: #fff;
	stroke: #000;
}

.state-borders {
	fill: none;
	stroke: #fff;
	stroke-width: 0.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

svg {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: visible;
	/*padding-bottom: calc(50% * 9 / 16);*/
	/*width: 960px;
	height: 500px;*/
}

.svg-left {

}

.svg-wrapper {
	position: relative;
	height: 0;
	padding-bottom: calc(50% * 9 / 16);
	flex: 0 1 40%;
}